<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Formulaire ticket</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="../css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <link href="../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>
    <div id="wrapper">
        <div class="gray-bg">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2><a href="/client/profil">Créer un ticket</a></h2>
                    <h3><a href="/logout">Déconnexion</a></h3>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Ticket</h5>
                            </div>
                            <div class="ibox-content">
                                <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/ticket/submit-change">
                                    <p>Veuillez renseigner les informations ci-dessous.</p>
                                    <div class="form-group"><label class="col-lg-2 control-label">Nom du propriétaire</label>
                                        <div class="col-lg-10"><input type="text" name="owner_name" id="owner_name" placeholder="Nom du propriétaire" value="<%= client.name %>" class="form-control" disabled></div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-2 control-label">Prénom du propriétaire</label>
                                        <div class="col-lg-10"><input type="text" name="owner_firstname" id="owner_firstname" placeholder="Prénom du propriétaire" value="<%= client.firstname %>" class="form-control" disabled></div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                                        <div class="col-lg-10"><input type="email" name="owner_email" id="owner_email" placeholder="Email" value="<%= client.email %>" class="form-control" readonly></div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-2 control-label">Téléphone</label>
                                        <div class="col-lg-10"><input type="text" name="owner_phone" id="owner_phone" placeholder="Phone" value="<%= client.phone %>" class="form-control" disabled></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Bâtiment</label>
                                        <div class="col-sm-10">
                                            <select class="form-control m-b" name="building" required>
                                                <option value="">Choisir le bâtiment concerné</option>
                                                <% if (tickets != null) {%>
                                                <% for (var i = 0, len = tickets.length; i < len; i++) { %>
                                                <option value="<%= tickets[i].id%>"> Adresse: <%= tickets[i].adresse%>; Ville: <%= tickets[i].ville %>;
                                                    Code Postal: <%= tickets[i].code_postal %></option>
                                                <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Orientation</label>
                                        <div class="col-sm-10">
                                            <select class="form-control m-b" name="orientation" required>
                                                <option value="">Choisir l'orientation du tag sur le bâtiment</option>
                                                <option value="Nord">Nord</option>
                                                <option value="Nord-Ouest">Nord-Ouest</option>
                                                <option value="Nord-Est">Nord-Est</option>
                                                <option value="Sud">Sud</option>
                                                <option value="Sud-Ouest">Sud-Ouest</option>
                                                <option value="Sud-Est">Sud-Est</option>
                                                <option value="Est">Est</option>
                                                <option value="Ouest">Ouest</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-2 control-label">Etage</label>
                                        <div class="col-lg-10"><input type="text" name="etage" id="etage" placeholder="n° de l'étage" class="form-control" required></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea name="description" id="description" style="width: 100%" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Photo du tag</label>
                                        <div class="col-sm-10">
                                            <input name="file" id="file" type="file" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div style="margin-left: 47%">
                                            <button class="btn btn-primary" class="form-control" type="submit">Créer ticket</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DROPZONE -->
    <script src="../js/plugins/dropzone/dropzone.js"></script>

    <script>
        Dropzone.options.dropzoneForm = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            dictDefaultMessage: "<strong>Glissez ou cliquez pour ajouter des photos.</strong></br>3 photos maximum (2MB)",
            maxFiles: 3
        };
    </script>
</body>
</html>