<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Formulaire ticket</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="../css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="../css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <link href="../css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>
    <div id="wrapper">
        <div class="gray-bg">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Créer un ticket</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Ticket</h5>
                            </div>
                            <div class="ibox-content">
                                <form class="form-horizontal">
                                    <p>Veuillez renseigner les informations ci-dessous.</p>
                                    <div class="form-group"><label class="col-lg-2 control-label">Nom du propriétaire</label>
                                        <div class="col-lg-10"><input type="text" placeholder="Nom du propriétaire" value="Rempli et bloqué" class="form-control" disabled></div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-2 control-label">Prénom du propriétaire</label>
                                        <div class="col-lg-10"><input type="text" placeholder="Prénom du propriétaire" value="Rempli et bloqué" class="form-control" disabled></div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                                        <div class="col-lg-10"><input type="email" placeholder="Email" value="Rempli et bloqué" class="form-control" disabled></div>
                                    </div>
                                    <div class="form-group"><label class="col-lg-2 control-label">Téléphone</label>
                                        <div class="col-lg-10"><input type="text" placeholder="Phone" value="Rempli et bloqué" class="form-control" disabled></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Bâtiment</label>
                                        <div class="col-sm-10">
                                            <select class="form-control m-b" name="account" required>
                                                <option value="">Choisir le bâtiment concerné</option>
                                                <option value="Bâtiment A - 5 rue de Paris - 75001">Bâtiment A - 5 rue de Paris - 75001</option>
                                                <option value="Bâtiment A - 5 rue de Paris - 75001">Bâtiment A - 5 rue de Paris - 75001</option>
                                                <option value="Bâtiment A - 5 rue de Paris - 75001">Bâtiment A - 5 rue de Paris - 75001</option>
                                                <option value="Bâtiment A - 5 rue de Paris - 75001">Bâtiment A - 5 rue de Paris - 75001</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Orientation</label>
                                        <div class="col-sm-10">
                                            <select class="form-control m-b" name="account" required>
                                                <option value="">Choisir l'orientation du tag sur le bâtiment</option>
                                                <option value="Nord">Nord</option>
                                                <option value="Sud">Sud</option>
                                                <option value="Est">Est</option>
                                                <option value="Ouest">Ouest</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-10">
                                            <textarea style="width: 100%" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div style="margin-left: 47%">
                                            <button class="btn btn-primary" type="submit">Créer ticket</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Photos des tags</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <form action="#" class="dropzone" id="dropzoneForm">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple />
                                            </div>
                                        </form>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DROPZONE
    <script src="../js/plugins/dropzone/dropzone.js"></script>

    <script>
        import * as Dropzone from "../js/plugins/dropzone/dropzone";

        Dropzone.options.dropzoneForm = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            dictDefaultMessage: "<strong>Glissez ou cliquez pour ajouter des photos.</strong></br>3 photos maximum (2MB)",
            maxFiles: 3
        };
    </script>-->
</body>
</html>