<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Voir détails ticket</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../css/plugins/slick/slick.css" rel="stylesheet">
    <link href="../css/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>
    <div id="wrapper">
        <div class="gray-bg">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Détails ticket</h2>
                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="ibox">
                            <div class="slick_demo_3">
                                <div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <span class="btn-sm btn-warning col-lg-offset-10">Planifié</span>
                                            <div class="col-lg-offset-10" style="position: absolute; margin-top: 30px">
                                                <span class="btn-sm btn-default">24/12/2018</span><br/><br/>
                                                <span class="btn-sm btn-default">11h</span> <span class="btn-sm btn-default">12h</span>
                                            </div>
                                                <div class="carousel slide col-lg-6 col-lg-offset-3" id="carousel1">
                                                <ol class="carousel-indicators">
                                                    <li data-slide-to="0" data-target="#carousel1" class="active"></li>
                                                    <li data-slide-to="1" data-target="#carousel1"></li>
                                                    <li data-slide-to="2" data-target="#carousel1"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                    <div class="item" style="margin: 0; width: 100%">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                    <div class="item">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                </div>
                                                <a data-slide="prev" href="#carousel1" class="left carousel-control">
                                                    <span class="icon-prev"></span>
                                                </a>
                                                <a data-slide="next" href="#carousel1" class="right carousel-control">
                                                    <span class="icon-next"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <h2 style="margin-top: 45px">Ticket #2</h2>
                                        <div class="row">
                                            <div class="widget col-lg-offset-2 col-lg-8" style="background-color: #1ab394; color: white">
                                                <h2>Prénom Nom</h2>
                                                <ul class="list-unstyled m-t-md">
                                                    <li>
                                                        <span class="fa fa-envelope m-r-xs"></span>
                                                        <label>Email :</label>
                                                        client@mail.com
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-home m-r-xs"></span>
                                                        <label>Adresse :</label>
                                                        Bâtiment 7 - 5 rue de Paris - 75001
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-arrows m-r-xs"></span>
                                                        <label>Exposition :</label>
                                                        Nord
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-phone m-r-xs"></span>
                                                        <label>Téléphone :</label>
                                                        06 06 06 06 06
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-file-text m-r-xs"></span>
                                                        <label>Description :</label>
                                                        Tag sur mon bâtiment depuis deux semaines.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <span class="btn-sm btn-primary col-lg-offset-10">Terminé</span>
                                            <div class="carousel slide col-lg-6 col-lg-offset-3" id="carousel2">
                                                <ol class="carousel-indicators">
                                                    <li data-slide-to="0" data-target="#carousel2" class="active"></li>
                                                    <li data-slide-to="1" data-target="#carousel2"></li>
                                                    <li data-slide-to="2" data-target="#carousel2"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                    <div class="item" style="margin: 0; width: 100%">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                    <div class="item">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                </div>
                                                <a data-slide="prev" href="#carousel2" class="left carousel-control">
                                                    <span class="icon-prev"></span>
                                                </a>
                                                <a data-slide="next" href="#carousel2" class="right carousel-control">
                                                    <span class="icon-next"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <h2 style="margin-top: 45px">Ticket #3</h2>
                                        <div class="row">
                                            <div class="widget col-lg-offset-2 col-lg-8" style="background-color: #1ab394; color: white">
                                                <h2>Prénom Nom</h2>
                                                <ul class="list-unstyled m-t-md">
                                                    <li>
                                                        <span class="fa fa-envelope m-r-xs"></span>
                                                        <label>Email :</label>
                                                        client@mail.com
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-home m-r-xs"></span>
                                                        <label>Adresse :</label>
                                                        Bâtiment 7 - 5 rue de Paris - 75001
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-arrows m-r-xs"></span>
                                                        <label>Exposition :</label>
                                                        Nord
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-phone m-r-xs"></span>
                                                        <label>Téléphone :</label>
                                                        06 06 06 06 06
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-file-text m-r-xs"></span>
                                                        <label>Description :</label>
                                                        Tag sur mon bâtiment depuis deux semaines.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-6" style="border: red 1px solid; margin-bottom: 15px">
                                                <p>
                                                    Après lecture de votre ticket, impossible pour moi de trouver ce bâtiment.<br/>
                                                    <button type="button" class="btn-xs btn-success">Modifier ticket</button>
                                                </p>
                                            </div>
                                            <div class="col-lg-3"><span class="btn-sm btn-success col-lg-offset-6">Refusé</span></div>
                                        </div>
                                        <div class="row">
                                            <div class="carousel slide col-lg-6 col-lg-offset-3" id="carousel4">
                                                <ol class="carousel-indicators">
                                                    <li data-slide-to="0" data-target="#carousel4" class="active"></li>
                                                    <li data-slide-to="1" data-target="#carousel4"></li>
                                                    <li data-slide-to="2" data-target="#carousel4"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                    <div class="item" style="margin: 0; width: 100%">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                    <div class="item">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                </div>
                                                <a data-slide="prev" href="#carousel4" class="left carousel-control">
                                                    <span class="icon-prev"></span>
                                                </a>
                                                <a data-slide="next" href="#carousel4" class="right carousel-control">
                                                    <span class="icon-next"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <h2 style="margin-top: 45px">Ticket #4</h2>
                                        <div class="row">
                                            <div class="widget col-lg-offset-2 col-lg-8" style="background-color: #1ab394; color: white">
                                                <h2>Prénom Nom</h2>
                                                <ul class="list-unstyled m-t-md">
                                                    <li>
                                                        <span class="fa fa-envelope m-r-xs"></span>
                                                        <label>Email :</label>
                                                        client@mail.com
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-home m-r-xs"></span>
                                                        <label>Adresse :</label>
                                                        Bâtiment 7 - 5 rue de Paris - 75001
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-arrows m-r-xs"></span>
                                                        <label>Exposition :</label>
                                                        Nord
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-phone m-r-xs"></span>
                                                        <label>Téléphone :</label>
                                                        06 06 06 06 06
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-file-text m-r-xs"></span>
                                                        <label>Description :</label>
                                                        Tag sur mon bâtiment depuis deux semaines.
                                                    </li>
                                                <!-- If modify after refused
                                                    <li>
                                                        <label class="col-sm-2 control-label">Bâtiment</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control m-b" name="account">
                                                                <option>Choisir le bâtiment concerné</option>
                                                                <option>Bâtiment A - 5 rue de Paris - 75001</option>
                                                                <option>Bâtiment A - 5 rue de Paris - 75001</option>
                                                                <option>Bâtiment A - 5 rue de Paris - 75001</option>
                                                                <option>Bâtiment A - 5 rue de Paris - 75001</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <label class="col-sm-2 control-label">Orientation</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control m-b" name="account">
                                                                <option>Choisir l'orientation du tag sur le bâtiment</option>
                                                                <option>Nord</option>
                                                                <option>Sud</option>
                                                                <option>Est</option>
                                                                <option>Ouest</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <label class="col-sm-2 control-label">Description</label>
                                                        <div class="col-sm-10">
                                                            <textarea style="color: #535353; width: 100%">Tag sur mon bâtiment depuis deux semaines.</textarea>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <button type="button" class="btn-xs btn-default" style="margin-top: 30px; margin-left: 25%; width: 50%; color: #535353">Soumettre modifications</button>
                                            -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <span class="btn-sm btn-danger col-lg-offset-10">En attente</span><br/>
                                            <!-- if En attente et Administrateur -->
                                            <div style="float: right; margin-right: 6%; margin-top: 15px">
                                                <button class="btn btn-primary dim" type="button" data-toggle="modal" data-target="#modalAcceptedCenter"><i class="fa fa-check"></i></button><br/>
                                                <button class="btn btn-danger dim" type="button" data-toggle="modal" data-target="#modalRefusedCenter"><i class="fa fa-ban"></i></button>
                                            </div>
                                            <!-- endif -->
                                            <div class="carousel slide col-lg-6 col-lg-offset-3" id="carousel3">
                                                <ol class="carousel-indicators">
                                                    <li data-slide-to="0" data-target="#carousel3" class="active"></li>
                                                    <li data-slide-to="1" data-target="#carousel3"></li>
                                                    <li data-slide-to="2" data-target="#carousel3"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                    <div class="item" style="margin: 0; width: 100%">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                    <div class="item">
                                                        <img alt="image" class="img-responsive" src="img/dashboard4_1.jpg" style="margin-left: auto; margin-right: auto; display: block;">
                                                    </div>
                                                </div>
                                                <a data-slide="prev" href="#carousel3" class="left carousel-control">
                                                    <span class="icon-prev"></span>
                                                </a>
                                                <a data-slide="next" href="#carousel3" class="right carousel-control">
                                                    <span class="icon-next"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <h2 style="margin-top: 45px">Ticket #1</h2>
                                        <div class="row">
                                            <div class="widget col-lg-offset-2 col-lg-8" style="background-color: #1ab394; color: white">
                                                <h2>Prénom Nom</h2>
                                                <ul class="list-unstyled m-t-md">
                                                    <li>
                                                        <span class="fa fa-envelope m-r-xs"></span>
                                                        <label>Email :</label>
                                                        client@mail.com
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-home m-r-xs"></span>
                                                        <label>Adresse :</label>
                                                        Bâtiment 7 - 5 rue de Paris - 75001
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-arrows m-r-xs"></span>
                                                        <label>Exposition :</label>
                                                        Nord
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-phone m-r-xs"></span>
                                                        <label>Téléphone :</label>
                                                        06 06 06 06 06
                                                    </li>
                                                    <li>
                                                        <span class="fa fa-file-text m-r-xs"></span>
                                                        <label>Description :</label>
                                                        Tag sur mon bâtiment depuis deux semaines.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal accepted-->
    <div class="modal fade" id="modalAcceptedCenter" tabindex="-1" role="dialog" aria-labelledby="modalAcceptedCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAcceptedLongTitle">Accepter le ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Veuillez planifier l'intervention</p>
                    <select>
                        <option>24/12/2018 - 11h-12h</option>
                        <option>24/12/2018 - 12h-13h</option>
                        <option>24/12/2018 - 13h-14h</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Accepter et planifier</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal refused-->
    <div class="modal fade" id="modalRefusedCenter" tabindex="-1" role="dialog" aria-labelledby="modalRefusedCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRefusedLongTitle">Refuser le ticket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Veuillez justifier votre refus</p>
                    <textarea style="width: 100%" rows="6"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary">Refuser</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../js/inspinia.js"></script>
    <script src="../js/plugins/pace/pace.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

    <!-- Additional style only for demo purpose -->
    <style>
        .slick_demo_2 .ibox-content {
            margin: 0 10px;
        }
    </style>

    <script>
            $(document).ready(function(){


            $('.slick_demo_1').slick({
                dots: true
            });

            $('.slick_demo_2').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                centerMode: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });

            $('.slick_demo_3').slick({
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                adaptiveHeight: true
            });
        });
    </script>

</body>

</html>
