<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Liste clients</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
</head>

<body>

<div id="wrapper">
    <div class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-9">
                <h2><a href="/admin/profil">Liste des clients</a></h2>
                <h3><a href="/logout">Déconnexion</a></h3>
            </div>
        </div>
        <div class="row wrapper border-bottom white-bg">
            <div class="col-lg-offset-2">
                <h2>Clients</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <% for (var i = 0, len = clients.length; i < len; i++) { %>
                <% if (!clients[i].blacklist) { %>
                <div class="col-lg-3" style="text-align: center">
                    <div class="contact-box center-version">
                        <i class="fa fa-user fa-5x"></i>
                        <h3 class="m-b-xs"><strong><%= clients[i].prenom %> <%= clients[i].nom %></strong></h3>
                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>Email :</label>
                                <%= clients[i].adresse_email %>
                            </li>
                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>Téléphone :</label>
                                <%= clients[i].telephone %>
                            </li>
                        </ul>
                        <a type="button" href="/admin/blacklist/<%=clients[i].adresse_email%>"><button class="btn btn-danger"><i class="fa fa-ban"></i></button></a>
                    </div>
                </div>
                <% }  %>
                <% } %>
            </div>
        </div>

        <div class="row wrapper border-bottom white-bg">
            <div class="col-lg-offset-2">
                <h2>Clients bannis</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <% for (var i = 0, len = clients.length; i < len; i++) { %>
                <% if (clients[i].blacklist) { %>
                <div class="col-lg-3" style="text-align: center">
                    <div class="contact-box center-version">
                        <i class="fa fa-user fa-5x"></i>
                        <h3 class="m-b-xs"><strong><%= clients[i].prenom %> <%= clients[i].nom %></strong></h3>
                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>Email :</label>
                                <%= clients[i].adresse_email %>
                            </li>
                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>Téléphone :</label>
                                <%= clients[i].telephone %>
                            </li>
                        </ul>
                        <a type="button" href="/admin/unblacklist/<%=clients[i].adresse_email%>"><button class="btn btn-primary"><i class="fa fa-user-plus"></i></button></a>
                    </div>
                </div>
                <% }  %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspinia.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>

</body>
</html>