<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Liste tickets</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="../css/animate.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

</head>

<body>

<div id="wrapper">
    <div class="gray-bg">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2><a href="/admin/profil">Liste des tickets</a></h2>
                <h3><a href="/logout">Déconnexion</a></h3>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row wrapper border-bottom white-bg">
                <div class="col-lg-offset-2">
                    <h2>Tickets refusés</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 18px">
                <% for (var i = 0, len = tickets.length; i < len; i++) { %>
                <% if (tickets[i].status == "refused") { %>
                <div class="col-lg-4">
                    <div class="contact-box">
                        <span class="btn-sm btn-success col-lg-offset-10">Refusé</span><br/>
                        <a href="/admin/ticket/<%=tickets[i].ticket%>">
                            <div class="col-sm-4">
                                <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;">
                                    <img alt="image" style="display: inline; margin: 0 auto; height: 100%; width: auto" src="https://localhost:8080/img/<%=tickets[i].photo%>">
                                </div>
                                <div style="text-align: center">
                                    <div class="m-t-xs font-bold">Ticket #<%=tickets[i].ticket %></div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong><%= tickets[i].prenom %> <%= tickets[i].name %></strong></h3>
                                <p><i class="fa fa-map-marker"></i> <%= tickets[i].bat %> - <%= tickets[i].adresse %> - <%= tickets[i].ville %> - <%= tickets[i].code_postal %></p>
                                <p><i class="fa fa-file-text m-r-xs"></i><%=tickets[i].description%></p>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <% }  %>
                <% } %>
            </div>


            <div class="row wrapper border-bottom white-bg">
                <div class="col-lg-offset-2">
                    <h2>Tickets en attente</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 18px">
                <% for (var i = 0, len = tickets.length; i < len; i++) { %>
                <% if (tickets[i].status == "reviewing") { %>
                <div class="col-lg-4">
                    <div class="contact-box">
                        <span class="btn-sm btn-danger col-lg-offset-9">En attente</span><br/>
                        <a href="/admin/ticket/<%=tickets[i].ticket%>">
                            <div class="col-sm-4">
                                <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;">
                                    <img alt="image" style="display: inline; margin: 0 auto; height: 100%; width: auto" src="https://localhost:8080/img/<%=tickets[i].photo%>">
                                </div>
                                <div style="text-align: center">
                                    <div class="m-t-xs font-bold">Ticket #<%=tickets[i].ticket %></div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong><%= tickets[i].prenom %> <%= tickets[i].name %></strong></h3>
                                <p><i class="fa fa-map-marker"></i> <%= tickets[i].bat %> - <%= tickets[i].adresse %> - <%= tickets[i].ville %> - <%= tickets[i].code_postal %></p>
                                <p><i class="fa fa-file-text m-r-xs"></i> <%=tickets[i].description%></p>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <% }  %>
                <% } %>
            </div>


            <div class="row wrapper border-bottom white-bg">
                <div class="col-lg-offset-2">
                    <h2>Tickets planifiés</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 18px">
                <% for (var i = 0, len = tickets.length; i < len; i++) { %>
                <% if (tickets[i].status == "accepted") { %>
                <div class="col-lg-4">
                    <div class="contact-box">
                        <span class="btn-sm btn-warning col-lg-offset-10">Planifié</span><br/>
                        <a href="/admin/ticket/<%=tickets[i].ticket%>">
                            <div class="col-sm-4">
                                <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;">
                                    <img alt="image" style="display: inline; margin: 0 auto; height: 100%; width: auto" src="https://localhost:8080/img/<%=tickets[i].photo%>">
                                </div>
                                <div style="text-align: center">
                                    <div class="m-t-xs font-bold">Ticket #<%=tickets[i].ticket %></div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong><%= tickets[i].prenom %> <%= tickets[i].name %></strong></h3>
                                <p><i class="fa fa-map-marker"></i> <%= tickets[i].bat %> - <%= tickets[i].adresse %> - <%= tickets[i].ville %> - <%= tickets[i].code_postal %></p>
                                <p><i class="fa fa-file-text m-r-xs"></i> <%=tickets[i].description%></p>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <% }  %>
                <% } %>
            </div>


            <div class="row wrapper border-bottom white-bg">
                <div class="col-lg-offset-2">
                    <h2>Tickets terminés</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 18px">
                <% for (var i = 0, len = tickets.length; i < len; i++) { %>
                <% if (tickets[i].status == "finish") { %>
                <div class="col-lg-4">
                    <div class="contact-box">
                        <span class="btn-sm btn-primary col-lg-offset-10">Terminé</span><br/>
                        <a href="/admin/ticket/<%=tickets[i].ticket%>">
                            <div class="col-sm-4">
                                <div style="width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%;">
                                    <img alt="image" style="display: inline; margin: 0 auto; height: 100%; width: auto" src="https://localhost:8080/img/<%=tickets[i].photo%>">
                                </div>
                                <div style="text-align: center">
                                    <div class="m-t-xs font-bold">Ticket #<%=tickets[i].ticket %></div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong><%= tickets[i].prenom %> <%= tickets[i].name %></strong></h3>
                                <p><i class="fa fa-map-marker"></i> <%= tickets[i].bat %> - <%= tickets[i].adresse %> - <%= tickets[i].ville %> - <%= tickets[i].code_postal %></p>
                                <p><i class="fa fa-file-text m-r-xs"></i> Tag sur mon bâtiment depuis deux semaines.</p>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <% }  %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../js/inspinia.js"></script>
<script src="../js/plugins/pace/pace.min.js"></script>

</body>
</html>